@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Raleway:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

h1{
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    margin-left: 20px;
}
h2{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 190%;
}
h3{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 100%;
}
h1,h2,h3,h4{
    color: black;
}
p {
    letter-spacing: 1px;
    font-size: 90%;
}

body{

    font-family: Raleway, Courier, sans-serif;
    font-size: 1.3rem;
    color: #3a3a3a;
}

img {
    border-radius: 5px;
}

header{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 20;
    background-color: #f3f3f3;
    
}

#logo{
    float: left;
    font-size: 240%;

}
#nav-list #logo{
line-height: 80px;
}
/*nav list header*/

#nav-list{
    font-size: 80%;
    letter-spacing: 2px;
    float: right;
}
#nav-list li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
#nav-list a{
    
    text-decoration: none;
    color: #3a3a3a
}
nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.outer-image{
    margin-top: 90px;
    height: 720px;
    width: 100%;
}

#main-image{
    height: 600px;
    width: 100%;
    background: url(../images/lesmills-bodybalance.jpg) no-repeat center center;

}
.image-text{
    font-size: 130;
    font-family: Raleway, Courier, sans-serif;
    text-align: center;
    letter-spacing: 4px;

    /*css for circle*/
    width: 325px;
    height: 300px;
    border: 2px none;
    border-radius: 50%;

    
/*positioning of the image circle*/

    background-color: rgba(135, 136, 135, 0.7);
    bottom: 300px;
    right: 50px;
    position: absolute;
    
}
#about-head{
    height: 220px;
    width: 100%;
    text-align: center;
    color: black;
    line-height: 220px;
}
#about-text-right{
    text-align: right;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about-text{
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 30%;
    margin-left: 10px;
}
#about-image{
    
    
    width: 30%;
    margin-left: 10px;
    display: inline-block;
}
.teacher-image{
    height: 300px;
    width: 100%;

}