@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Raleway:wght@300&display=swap');

h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}
h1,h2,h3,h4{
    color: black;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
body{
    padding: 0;
    margin: 0;
    font-family: Raleway, Courier, sans-serif;
    font-size: 1.3rem;
}
.col-100{
    width: 100%;
}
.col-50{
    width: 50%;
}
.left-column{
    float: left;
}
.right-column{
    float: right;
}

.section{
    padding: 10px;
}
.mt-5{
    margin-top: 5px;
}
#nav{
    font-size: 1.5rem;
    height: 40px;
}
.nav-list-wrapper{
    position: relative;
}
#nav li{
    float: right;
    margin-right: 30px;
    font-size: 1.5rem;
    list-style-type: none;
}
#nav a {
    text-decoration: none;
    color: inherit;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
#nav #logo{
    float: left;
    margin-top: auto;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;

}

#about{
    line-height: 25px;
    text-align: center;
    width: 100%;
}
#header{
    height: 600px;
    width: 100%;
    padding: 0%;
    
}
.outer-image{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.image{
    height: 600px;
    width: 100%;
}
.image-text{
    font-size: 130%;
    font-family: Raleway, Courier, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    width: 325px;
    height: 300px;
    border: 2px none;
    border-radius: 50%;

  padding-top: 40px;
  padding-left: 10px;

    background-color: rgba(135, 136, 135, 0.7);

    bottom: 150px;
    right: 100px;

    position: absolute;
    
    
}
#table{
    border-collapse: collapse;
}
th {
    background-color:green;
    Color:white;
}
th, td {
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px
  
}