h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}
h1,h2,h3,h4{
    color: green;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}
.col-50{
    width: 50%;
}
.left-column{
    float: left;
}
.right-column{
    float: right;
}
.w100{
    width: 100%;
}
.section{
    padding: 10px;
}
.mt-5{
    margin-top: 5px;
}
#nav{
    font-size: 1.5rem;
    height: 40px;
}
.nav-list-wrapper{
    position: relative;
}
#nav li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#nav #logo{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: blue;
}